<!-- Footer -->

<footer class="py-5 bg-dark"  style="bottom: 0;">
    <div class="container">
      <p class="m-0 text-center text-white">ATN shop</p>
    </div>
    <div class="container">
        <p class="m-0 text-center text-white" style="float: left;"> Email:ATNshop123@gmail.com</p>
    </div>
    <div class="container">
        <p class="m-0 text-center text-white" style="float: right;">Address:144-142 Pham Phu Thu,P4,Q6</p>
      </div>
    <!-- /.container -->
  </footer>
